alias c=claude
alias k=kubectl
alias n=nvim
alias npm=pnpm
alias npx=pnpx
alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"
alias ts="/Applications/Tailscale.app/Contents/MacOS/Tailscale"
alias tf=terraform
alias venv="source .venv/bin/activate"
alias y=yazi

# zoxide as cd
alias cd=z

# git
alias gs="git status"
alias gc="git checkout"
alias gcm="git commit"
alias gd="git diff"

# Go binaries
alias jot="$(go env GOPATH)/bin/jots new"

# LOC
alias loc='find . -name "*.py" -not -path "*/__pycache__/*" -not -path "*/tests/*" -not -path "*/.venv/*" -not -name "*.pyc" | xargs wc -l'

# jp
alias jp="say -v Kyoko"
